.carousel-caption {
    left: 10%;
    right: auto;
    bottom: 35%;
    text-align: left;
    color: #000;
}

.carousel-caption h1 {
    font-size: 4rem;
    font-weight: 600;
}

.carousel-caption p {
    font-size: 1.2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.btn-shop {
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    text-decoration: none;
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
}