body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
    background-color: #f8f9fa; 
    font-family: "Poppins", sans-serif;
}

.container{
    box-shadow: 0 0 10px;
    padding: 40px 60px;
    border-radius: 10px;
}

.row {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    position: absolute;
    left: 30px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    background: white;
    padding: 0 5px;
    pointer-events: none; /* Vô hiệu hóa sự kiện chuột để input luôn nhận focus */
}

.lb{
    width: 18%;
}

.error {
    color: red;
    font-size: 15px;
    display: none;
}

.error-border {
    border: 2px solid red;
}

.col-6{
    display: flex;
    align-items: center;
}

/* Khi input được focus hoặc có nội dung, label sẽ thu nhỏ và di chuyển lên */
input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: black;
}

.forgot{
    color: black;
    color: rgba(0, 0, 0, 0.6);
}

.new{
    font-size: 13px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.forgot:hover, 
.new:hover{
    color: red;
}

@media (max-width: 1200px){  
    .lb{
        width: 28%;
    }

    .col-6{
        width: 100%;
        margin-bottom: 20px;
    }

    .new{
        margin-bottom: 10px;
    }

}

@media (max-width: 768px){
    .lb{
        width: 32%;
    }

    p{
        margin: 5px;
    }

    .col-6{
        width: 100%;
        margin-bottom: 20px;
    }

    .new{
        margin-bottom: 10px;
    }
}
