.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px,4px,10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1);
}

.card-img-top{
    height: 300px;
    object-fit: cover;
    object-position: center top;
}

.card-body{
    text-align: center;
}

.color-option{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.color-radio{
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.color-radio input{
    position: absolute;
    opacity: 0;
}

.color-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid transparent;
    transition: 0.3s;
}

.color-radio input:hover + .color-circle{
    border: 5px solid #fcf8f8;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
}